*{margin: 0;padding: 0;}
body{
	font-family: $poppins;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $roboto;
	font-weight: bold;
	margin-top: 0;
}

%bg-color-1{
	background: $content-bgcolor;
}
%bg-black-transparent{
	background: rgba($black,0.5);
}
%transition{
	transition: all 0.3s ease 0s;
}
%color-white{
	color: $white;
}

.bg-color-1{
	@extend %bg-color-1;
}
.bg-black-transparent{
	@extend %bg-black-transparent;
}

.slider-wrap{
	margin-top: 50px;
	h1{
		font-size: 25px;
		color: #31708f;
		background-color: #d9edf7;
		border-color: #bcdff1;
		padding: 20px;
		margin-bottom: 30px;
		border-left: 5px solid;
	}
}
.slider-container{
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	// overflow: hidden;
	.slider-row{
		margin-left: -15px;
		margin-right: -15px;
		.column{
		    padding-left: 15px;
			padding-right: 15px;
			
		}
	}
}


// main css 
.owl-carousel{
	position: relative;
	padding-top: 45px;
	margin-bottom: 80px;
	.owl-nav {
	    position: absolute;
	    top: -8px;
	    right: 0;
	    left: 0;
	    text-align: right;
	    button.owl-prev{
	    	margin-right: 10px;
	    }
	    button.owl-prev,
	    button.owl-next{
			width: 40px;
			background: $nav-bg;
			height: 35px;
			@extend %transition;
			&:hover{
				background: rgba($nav-bg,.8);
			}
			span{
				font-size: 35px;
				color: #fff;
				line-height: 30px;
			}
			&:focus{
				border: none;
			}
		}
	}
}
// items sccs 
.slider-items{
	// default 
	position: relative;
	overflow: hidden;
	border: 1px solid rgba($black,.15);
	@extend %transition;
	.item-image{
		overflow: hidden;
		position: relative;
		a{
			display: block;
		}
		img{
		    transform: scale(1);
			@extend %transition;
		}
	}
	.item-contant {
		line-height: 1.3;
		padding: 20px 15px;
		box-sizing: border-box;
		@extend %transition;
		&.center{
	    	text-align: center;
		}
		.category-name {
		    margin-bottom: 5px;
		    font-size: 16px;
		}
		%category-count,
		.category-count{
			margin-bottom: 8px;
			font-size: 15px;
		}
		.description{
			@extend %category-count;
			line-height: 1.5;
		}
		.items-cart-btn{
	    	a{
				text-align: center;
				@extend %transition;
		    }
		}
		a{
			color: $black;
			text-decoration: none;
		}
		&.text-color-white{
			.category-name{
				a{
					@extend %color-white;
				}
			}
			.category-count{
				@extend %color-white;
			}
		}
	}
	.items-cart-btn{
		a{
			padding: 5px;
			background: $cart-bg;
			color: #fff;
			font-size: 13px;
			display: inline-block;
			width: 95px;
			height: 20px;
			line-height: 20px;
			&:hover{
				background:rgba($cart-bg,.6); 
			}

			&.button-transparent{
				background: transparent;
				color: $black;
				border: 1px solid $cart-bg;
				&:hover{
					color: $cart-bg; 
				}
			}
		}
		
	}
	// hover border 
	&.hover-border{
		&:hover{
			border: 1px solid $hoverborder-color;
		}
	}
	// zoom in 
	&.zoomin{
		.item-image{
			overflow: hidden;
			img{
			    transform: scale(1);
				@extend %transition;
			}
		}
		&:hover{
			.item-image{
				img{
					transform: scale(1.2);
				}
			}
		}
	}
	// zoom out 
	&.zoomout{
		.item-image{
			overflow: hidden;
			img{
			    transform: scale(1.1);
				@extend %transition;
			}
		}
		&:hover{
			.item-image{
				img{
					transform: scale(1);
				}
			}
		}
	}
	&.caption-over-image{
		.item-contant{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	&.item-hover-caption-over{
		.item-contant{
			position: absolute;
			bottom: -100%;
			left: 0;
			right: 0;
			opacity: 0;
			visibility: hidden;
		}
		&:hover{
			.item-contant{
				bottom: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&.style-3{
		.item-contant {
			bottom: 0;
			top:0;
			left: 0;
			right: 0;
			transition:0.5s;
			width: 105px;
			height: 35px;
			opacity: 0;
			visibility: hidden;
			position: absolute;	
			padding: 0;
			margin: auto;
			transform: translateY(50px);
		}
		&:hover{
			.item-contant {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}		
	}
	&.border-style2{
		&:before,
		&:after{
			@extend %transition;
		    content: "";
		    right: 100%;
		    left: 30px;
		    bottom: 30px;
		    position: absolute;
			height: 0px;
			z-index: 1;
		}
		&:after{
			border-bottom: 1px solid $red-color;
		}
		&:before{
		    bottom: inherit;
			top: 30px;
			border-bottom: 1px solid $red-color;
		}
		.item-image{
			&:before,
			&:after{
				@extend %transition;
			    content: "";
			    left: 30px;
			    top: 30px;
			    bottom: 30px;
			    position: absolute;
			    width: 0;
			    z-index: 1;
			    bottom: 100%;
			}
			&:after{
				border-left: 1px solid $red-color;
			}
			&:before{
				left: inherit;
				right: 30px;
				border-right: 1px solid $red-color;
			}
			a{
				display: block;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					// background: rgba($black,0.4);
				}
			}
		}
		.item-contant{
			position: absolute;
			top: 50%;
			right: 50px;
			left: 50px;
			background: 0 0;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			padding: 0;
			a{
				@extend %color-white;
			}
			p{
				@extend %color-white;
			}
			.category-name{
				transform: translateY(-20px);
				@extend %transition;
			}
			.category-count{
				transform: translateY(-15px);
				@extend %transition;
			}
			.items-cart-btn {
			    transform: translateY(-10px);
			    opacity: 0;
			    visibility: hidden;
			    @extend %transition;
			}
		}
		&:hover{
			&:after{
				right: 30px;
			}
			&:before{
				right: 30px;
			}
			
			.item-image{
				&:before,
				&:after{
					bottom: 30px;
				}
			}
			.item-contant{
				.category-name{
					transform: translateY(0px);
				}
				.category-count{
					transform: translateY(0px);
				}
				.items-cart-btn {
				    transform: translateY(0px);
				    opacity: 1;
			    	visibility: visible;
				}
			}
		}
	}
	&.border-style3{
		&:before,
		&:after{
			@extend %transition;
		    content: "";
		    right: 100%;
		    left: 30px;
		    position: absolute;
			height: 0px;
			z-index: 1;
		}
		&:after{
			border-bottom: 1px solid $red-color;
			bottom: 50px;
		}
		&:before{
			top: 50px;
			border-bottom: 1px solid $red-color;
		}
		.item-image{
			&:before,
			&:after{
				@extend %transition;
			    content: "";
			    left: 50px;
			    top: 30px;
			    bottom: 30px;
			    position: absolute;
			    width: 0;
			    z-index: 1;
			    bottom: 100%;
			}
			&:after{
				border-left: 1px solid $red-color;
			}
			&:before{
				left: inherit;
				right: 50px;
				border-right: 1px solid $red-color;
			}
			a{
				display: block;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					// background: rgba($black,0.4);
				}
			}
		}
		.item-contant{
			position: absolute;
			top: 40%;
			right: 50px;
			left: 50px;
			background: 0 0;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			padding: 0;
			a{
				@extend %color-white;
			}
			p{
				@extend %color-white;
			}
		}
		&:hover{
			.item-contant{
				top: 50%;
			}
			&:after{
				right: 30px;
			}
			&:before{
				right: 30px;
			}
			.item-image{
				&:before,
				&:after{
					bottom: 30px;
				}
			}
		}
	}
	&.demostyle3{
		// border: 1px solid $border-color;
		.item-image {
		    max-width: 50%;
		    float: left;
		}
		.item-contant {
		    max-width: 50%;
		    width: 100%;
		    float: left;
		    padding: 35px 20px;   
		}
	}
	&.sliderstyle4{
		.item-image{
			&:before{
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background:rgba($black,0.3);
				z-index: 1;
				opacity: 0;
				@extend %transition;
			}
		}
		.item-contant{
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
    		transform: translateY(-50%) scale(1.2);
    		opacity: 0;
    		visibility: hidden;
    		z-index: 1;
    		.category-name a,
    		.category-count{
    			@extend %color-white;
    		}
		}
		&:hover{
			.item-image{
				&:before{
					opacity: 1;
				}
			}
			.item-contant{
	    		transform: translateY(-50%) scale(1);
	    		opacity: 1;
    			visibility: visible;
			}	
		}
	}
	&.sliderstyle5{		
		.item-image{
			a{
				position: relative;
				&:after,
				&:before{
					content: "";
					position: absolute;
					bottom: 0;
					top: 0;
					background:rgba($black,0.5);
					z-index: 1;
					opacity: 0;
					width: 0%;
					z-index: 1;
					@extend %transition;
				}
				&:before{
					left: 0;
				}
				&:after{
					right: 0;
				}

			}
		}
		.item-contant{
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
    		transform: translateY(-50%) scale(1.2);
    		opacity: 0;
    		visibility: hidden;
    		z-index: 1;
    		.category-name a,
    		.category-count{
    			@extend %color-white;
    		}
		}
		&:hover{
			.item-image{
				a{
					&:before,
					&:after,{
						opacity: 1;
						width: 50%;
					}
				}
			}
			.item-contant{
	    		transform: translateY(-50%) scale(1);
	    		opacity: 1;
    			visibility: visible;
			}	
		}
	}
	&.sliderstyle6{
		.item-image{
			a{
				position: relative;
				&:after,
				&:before{
					content: "";
					position: absolute;
					bottom: 0;
					top: 0;
					background:rgba($black,0.5);
					z-index: 1;
					opacity: 0;
					width: 0%;
					z-index: 1;
					@extend %transition;
				}
				&:before{
					left: 50%;
				}
				&:after{
					right: 50%;
				}
			}
		}
		.item-contant{
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
    		transform: translateY(-50%) scale(1.2);
    		opacity: 0;
    		visibility: hidden;
    		z-index: 1;
    		.category-name a,
    		.category-count{
    			@extend %color-white;
    		}
		}
		&:hover{
			.item-image{
				a{
					&:before,
					&:after,{
						opacity: 1;
						width: 50%;
					}
				}
			}
			.item-contant{
	    		transform: translateY(-50%) scale(1);
	    		opacity: 1;
    			visibility: visible;
			}	
		}
	}
	&.sliderstyle7{
		.item-image{
			&:after{
				content: "";
				background:rgba($black,0.3);
				top: 0;
				bottom: 0;
				width: 100%;
				position: absolute;
				left: 0;
				right: 0;
				opacity: 0;
				visibility: hidden;
				@extend %transition;
			}
		}
		.item-contant{
			position: absolute;
			left: 0;
			right: 0;
			top: 125%;
			transform: translateY(-50%);
			.category-count, 
			.description {
			    @extend %color-white;
			}
			.category-name{
				a{
					@extend %color-white;
				}
			}
		}
		&:hover{
			.item-image{
				&:after{
					visibility: visible;
					opacity: 1;
				}
			}
			.item-contant{
				top: 50%;
			}
		}
	}
	&.sliderstyle8{
		.item-image{
			&:after{
				content: "";
				background:rgba($black,0.3);
				top: 0;
				bottom: 0;
				width: 100%;
				position: absolute;
				left: 0;
				right: 0;
				opacity: 0;
				visibility: hidden;
				@extend %transition;
			}
		}
		.item-contant{
			position: absolute;
			left: 0;
			right: 0;
			top: 65%;
			transform: translateY(-50%);
			transition:0.5s;
			opacity: 0;
			visibility: hidden;
			.category-count, 
			.description {
			    @extend %color-white;
			}
			.category-name{
				a{
					@extend %color-white;
				}
			}
		}
		&:hover{
			.item-image{
				&:after{
					opacity: 1;
					visibility: visible;
				}
			}
			.item-contant{
	    		top: 50%;
	    		opacity: 1;
    			visibility: visible;
			}
		}
	}
	&.sliderstyle9{
		.item-image{
			a{
				img{

					+ img{
						position: absolute;
						left: -100%;
						top: 0;
						bottom: 0;
						@extend %transition;
					}
				}
			}
		}
		&:hover{
			.item-image{
				a{
					img{

						+ img{
							left: 0;
							right: 0;
						}
					}
				}
			}
		}
	}
	&.sliderstyle10{

	}


}