// default font 
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

// color 
$white:#fff;
$content-bgcolor:#ededed;
$black:#000;
$cart-bg:#b0589f;
$nav-bg:$cart-bg;
$hoverborder-color:#ff5847;
$red-color:red;
$border-color:#ddd;
